
<table>
  <td>title:</td>
  <td><%= @book.title %></td>
</table>

<table>
  <td>body:</td>
  <td><%= @book.body %></td>
</table>


<%= link_to "Edit", edit_book_path(@book.id) %>
|
<%= link_to "Back", books_path %>

